* {
  margin: 0;
  padding: 0;
}
.parent-title-nav {
  display: flex;
  justify-content: end;
  margin-left: 1500px;
}
.title-navbar-home {
  color: white;
}
.parent-isi1-active {
  background: rgb(241, 241, 241);
  margin-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: 100ms;
}

.box-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(0, 149, 218);
}
.navbar-home {
  background-color: rgb(0, 149, 218);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.img-home {
  width: 50%;
}
.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

/* BOX DETAIL */
.parent-detail {
  display: flex;
  justify-content: center;
}
.box-detail {
  top: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: 250px;
  background: white;
  border-radius: 20px;
  margin-top: 30px;

}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 10px;
}
.desk-icon {
  margin-left: 10px;
}

/* TITLE HOME */
.title-home {
  color: white;
  font-size: 35px;
}
.desk-home {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

/* SELURUH PROGRAM */
.title-program-edu {
  text-align: center;
  color: rgb(0, 149, 218);
  margin-bottom: 20px;
}
.seluruh-program {
  margin-top: 250px;
  text-align: center;
  background: rgb(243, 251, 255);
  padding-top: 30px;
}
.desk-all-program {
  margin-bottom: 20px;
  font-size: 19px;
  color: rgb(80, 80, 80);
}

/* KEUNGGULAN EDU */
.parent-keunggulan {
  text-align: center;
  margin-top: 10px;
}
.keunggulan-edu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-keunggulan {
  width: 20%;
}
.pengajar-muda {
  border-right: 1px solid rgb(212, 212, 212);
}
.metode {
  border-left: 1px solid rgb(212, 212, 212);
}
.bahan-ajar {
  border-left: 1px solid rgb(212, 212, 212);
}
.tingkat-kelulusan {
  border-left: 1px solid rgb(212, 212, 212);
}

/* BTN DAFTAR */
.btn-daftar-viawa {
  background: rgb(15, 168, 15);
  padding: 20px;
  text-decoration: none;
  color: white;
  border: none;
  margin-top: 30px;
  width: 30%;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid white;
  transition: 300ms;
}
.btn-daftar-viawa:hover {
  border-radius: 30px;
}
.btn-daftar-viahp {
  background: orangered;
  padding: 20px;
  text-decoration: none;
  color: white;
  border: none;
  margin-top: 30px;
  width: 30%;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
  border: 1px solid white;
  transition: 300ms;
}
.btn-daftar-viahp:hover {
  border-radius: 30px;
}
.icon-wa {
  font-size: 20px;
}
.icon-hp {
  font-size: 20px;
}

/* JADWAL KEGIATAN */
.box-jadwal {
  display: flex;
  margin-top: 250px;
  text-align: center;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
.title-jadwal {
  color: rgb(0, 149, 218);
}
.desk-jadwal {
  font-size: 19px;
  margin-top: 20px;
  color: rgb(80, 80, 80);
  text-align: justify;
}

/* BTN-ANIMATION*/
.btn-sidebar {
  margin-left: 35px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  background: orangered;
  padding: 10px;
  width: 70%;
  border: none;
  font-family: "Varela Round", sans-serif;
  border-radius: 50px;
  font-size: 16px;
}

.copyright {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}

/* DAFTAR END */
.daftar-end {
  background: rgb(243, 251, 255);
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 250px;
}
.title-daftar-end {
  font-size: 30px;
}
.desk-daftar-end {
  font-size: 20px;
}
.btn-wa-end {
  background: rgb(15, 168, 15);
  font-size: 18px;
  padding: 12px;
  border-radius: 100px;
  border: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.btn-hp-end {
  background: orangered;
  font-size: 18px;
  padding: 12px;
  border-radius: 100px;
  border: none;
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 10px;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.group-btn-daftarend {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ALL ACCORDION */
.all-accordion {
  margin-top: 250px;
  padding-left: 80px;
  padding-right: 80px;
  background: rgb(243, 251, 255);
  padding-top: 50px;
  padding-bottom: 50px;
}
.title-accordion {
  margin-bottom: 25px;
  color: rgb(0, 149, 218);
}

/* FLOAT CALL */
.box-wa {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgb(0, 149, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 99;
}
.wa {
  color: white;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.btn-wa {
  background: rgb(15, 168, 15);
  border: none;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
}
.call {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}
.btn-call {
  background: orangered;
  border: none;
  padding: 20px;
  margin-left: 20px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
}

/* LOGO UNIV */
.parent-univ {
  text-align: center;
  margin-top: 250px;
}

/* PROMO */
.parent-promo {
  text-align: center;
  margin-top: 250px;
}
.title-promo {
  margin-bottom: 20px;
  color: rgb(0, 149, 218);
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .content-home {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-home {
    width: 100%;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .title-home {
    font-size: 25px;
  }
  .desk-home {
    font-size: 17px;
  }
  .box-detail {
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .icon {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon-detail {
    display: grid;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .desk-icon {
    margin-left: 0;
    margin-right: 0;
  }
  .content-home {
    padding: 15px;
  }
  .btn-daftar-viahp {
    margin-left: 0;
    width: 100%;
  }
  .btn-daftar-viawa {
    width: 100%;
  }

  .box-detail {
    display: grid;
  }
  .icon {
    display: grid;
    place-items: center;
    margin-left: 0;
  }
  .icon-detail {
    display: grid;
    place-items: center;
    margin-top: 10px;
    width: 40%;
  }
  .desk-icon {
    text-align: center;
  }
  .box-detail {
    height: auto;
  }
  .keunggulan-edu {
    flex-wrap: wrap;
  }
  .pengajar-muda {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: none;
    border-right: none;
    width: 90%;
  }
  .h4-metode {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 90%;
  }
  .bahan-ajar {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 90%;
  }
  .tingkat-kelulusan {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 90%;
  }
  .metode {
    border-left: none;
  }
  .bahan-ajar {
    border-left: none;
  }
  .tingkat-kelulusan {
    border-left: none;
  }
  .h4-tingkat-kelulusan {
    border-right: none;
    margin-left: 20px;
  }
  .desk-home {
    text-align: justify;
  }
  .box-jadwal {
    width: 100%;
    padding: 0;
  }
  .img-jadwal {
    width: 100%;
    margin-top: 20px;
  }
  .desk-jadwal {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .all-accordion {
    padding-left: 25px;
    padding-right: 25px;
  }
  .title-accordion {
    font-size: 23px;
  }
  .img-keunggulan {
    width: 30%;
  }
  .btn-hp-end {
    margin-left: 0;
    margin-top: 10px;
  }
  .daftar-end {
    padding: 15px;
  }
}
